# Build artifacts
/simulation/build/
**/*.o
**/*.a
**/*.so
**/*.pyc
**/__pycache__/

# NetAnim build/output
/netanim/
/pybindgen/

results/plots/
results/data/*.png
results/data/*.xml
**/*.png
.agents/

# Study Cases configuration
!results/study_cases/
results/study_cases/**/data/
results/study_cases/**/interactive_plots/
!results/study_cases/**/*.png
!results/study_cases/**/config/

# Simulation build and logs
simulation/.lock-waf*
simulation/.waf-*/
simulation/.waf3-*/
simulation/*.log
simulation/*.txt
!simulation/README.md
!simulation/AUTHORS
!simulation/LICENSE
!simulation/VERSION

# Simulation outputs
simulation/mix/*.tr
simulation/mix/configs
simulation/mix/*.png
simulation/mix/qlen*.txt
simulation/mix/fct*.txt
simulation/mix/pfc*.txt
simulation/mix/*_fat_k4.txt
simulation/mix/outputs/
results/data/*.tr
results/data/qlen*.txt
results/data/fct*.txt
results/data/pfc*.txt
# Third-party dependencies
pybindgen/
latex_reports/
# Misc
*.log
.DS_Store
*.html
*.tr
*.csv
